@import
'./variables';

html {
  background-color: $white;
  margin: 0;
}

body {
  background-color: $mistyrose;
}

.svg-container {

}

.plant-svg {
  // max-width: 30vh;
  width: 65vw;
  padding-left: 33vw;
  padding-top: 17vh;

  // display: block;
  // margin: auto;
  z-index: 100;
  display: block;
  margin: 0 auto;
  position: fixed;
}

.color-block {
  height:170vh;
}

.svg-container {
}

.block-1 {
  height:300vh;
  background-color: $mistyrose;
}

.block-2 {
  background-color: $lightpink;
}


.block-3 {
  background-color: #f0dcab;

  // background-color: #f0f5d7;

}

.block-4 {
  background-color: #d1f1d1;

}

.block-5 {
  background-color: #cfe0f5;
}

.block-6 {
  background-color: #e4d2f5;
}

.block-7 {
  background-color: #f3eaaa;
}

footer {
  background-color: $gray;
  height:40vh;
}

.animated {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
