@import
'./variables';

html {
  background-color: $white;
  margin: 0;
}

body {
  background-color: $mistyrose;
}

.color-block {
  height:120vh;
}

.svg-container {
  height:100vh;
}

.block-1 {
  background-color: $lightpink;
}

.block-2 {
  background-color: #f0dcab;

}


.block-3 {
  background-color: #f0f5d7;

}

.block-4 {
  background-color: #d1f1d1;

}

.block-5 {
  background-color: #cfe0f5;
}

.plant-svg {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
