///////////////////////////////////////////////////////////
// Reboot /////////////////////////////////////////////////
///////////////////////////////////////////////////////////

html {
  background-color: $mistyrose;
  margin: 0;
}

// Reset HTML, body, and more

body {
  background-color: $mistyrose;
  // Make the `body` use the `font-size-root`
}
