// Colors

$black:                          #000;
$charcoal:                       #222;
$faint-grey:                     #e3e3e3;
$gray-dark:                      #333;
$gray:                           #454545;
$gray-light:                     #666;
$gray-lighter:                   #ccc;
$gray-lightest:                  #f2f2f2;
$khaki:                          #ded8c5;
$transparent:                    transparent;
$navy-blue:                      #135c9f;
$white-smoke:                    #f5f5f5;
$white:                          #fff;
$mistyrose:                      #f5dddd;

$brand-decision:                 $khaki;
$brand-danger:                   #900;
$brand-primary:                  #00f;
$brand-success:                  #45c55f; // #008000;
$brand-success-hover:            #0c3;
$brand-inverse:                  $gray-light;
